# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Tox virtual environments
.tox/