# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Tox virtual environments
.tox/

# Directories and files to ignore
/MODELOS_INTELIGENCIA_ARTIFICIAL_25_26/UT_03_NLP/resultado_sentiment_es_public/
/MODELOS_INTELIGENCIA_ARTIFICIAL_25_26/UT_03_NLP/tree.ps
MODELOS_INTELIGENCIA_ARTIFICIAL_25_26/NOTEBOOKS DEL AULA/UT_03_NLP/tree.ps

MODELOS_INTELIGENCIA_ARTIFICIAL_25_26/NOTEBOOKS DEL AULA/UT_03_NLP/resultado_sentiment_es_public/
